<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-div">
                <div class="div-main-logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
                </div>
                <form action="/search" method="POST" class="main-div-search">
                    <div>
                        <div class="div-search">
                            <div class="div-main-busqueda">
                                <input class="input-busqueda" type="search" name="busqueda" ></input>
                                <button type="submit" class="ilupa"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-text">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en coutas y sin tarjeta de crédito</p>
            </div>
        </div>
        <!--==========================
                MENÚ HAMBURGUESA
        ============================-->    
        <a href="" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>
         <!--==========================
                MENÚ NAVEGACIÓN
        ============================-->
        <nav class="main-navbar">
            <ul> 
                <li> <a href="">Ofertas</a> </li>
                <li> <a href="">Tiendas Oficiales</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>
        
            <ul> 
                <li> <a href="/register">Crea tu cuenta </a>  <i class="fas fa-id-card"></i></li>
                <li> <a href="/login">Ingresá </a>  <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="">Mis compras </a>  <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        
        <br/>
        
    </header>
    
        <!--CONTENEDOR  BANER-->
        <section class="banner">
            <img class="imag-baner" src='images/img-home-banner.jpg' alt="banner">   
        </section>

    <main>
        <h3 class="seccion">Basado en tu última visita</h3>
        
        <!--CONTENEDOR PRIMERA CAJA / ULTIMA VISITA-->
        <section class="seccion-main">      
         <div class="contenedor-imagenes">
         <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">
                <a><img src='/images/img-cafetera-moulinex.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>                  
                        <p class="descrip"><strong>Cafetera Moulinex</strong></p>                    
                </div>
            </article>
            <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">
                <a><img src='/images/img-macbook-pro-2019.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$230.000</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class="descrip"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
             </div>
             <div class="contenedor-imagenes">
            <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">         
                <a><img src='/images/img-samsung-galaxy-s10.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$70.500</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class="descrip"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>   
            <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">
                <a><img src='/images/img-tv-samsung-smart.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$23.200</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </div>          
        </section>

        <!--CONTENEDOR SEGUNDA CAJA / OFERTAS -->
        <div class="titulo-ofertas">
            <h3 class="seccion">Ofertas</h3>
        </div>
        <section class="seccion-main">
        <!--TEXT/ OFERTAS-->
         <div class="contenedor-imagenes">
         <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">
                <a><img src='/images/img-cafetera-moulinex.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">
                <a><img src='/images/img-macbook-pro-2019.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$230.000</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            </div>
            <div class="contenedor-imagenes">
            <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">          
                <a><img src='/images/img-samsung-galaxy-s10.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$70.500</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>   
            <!--CONTENEDOR INDIVIDUAL DE PRODUCTOS-->
            <article class="productos-lv">
                <a><img src='/images/img-tv-samsung-smart.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$23.200</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
            </div>          
        </section>
    </main>

    <footer>
        <!--CONTENEDOR FOOTER MENOS DERECHOS-->
        <div class=pie-grande>
            <section class="piedepagina">
                <i class="imgfooter fas fa-credit-card"></i>
                <h3 class= "footersubt">Pagá con tarjeta o efectivo</h3>
                <p class= "footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="piedepagina">
                <i class="imgfooter fas fa-gift"></i>
                <h3 class= "footersubt">Envío gratis desde $ 2.500</h3>
                <p class= "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="piedepagina">
                <i class="imgfooter fas fa-user-shield"></i>
                <h3 class= "footersubt">Seguridad, de principio a fin</h3>
                <p class= "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>

        <section class="derechos-r">
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>
    </footer>
</body>
</html>