<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="caja-uno">
                <img class= "logotypo" src='images/logo-mercado-liebre.svg' alt="logo">
            </div>
            <div class="buscar-lupa">
                <div class="buscar">Buscar productos, marcas</div>
                <div class="lupa"><i class="fas fa-search"></i></div>
            </div>
      
            <div class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</div>
        </div>

        <nav>
            <!--PRIMERA LISTA-->
            <ul>
                <div class="primera-lista">
                    <li><a href='#'>Ofertas</a></li>
                    <li><a href='#'>Tiendas Oficiales</a></li>
                    <li><a href='#'>Vender</a></li>
                    <li><a href='#'>Ayuda</a></li>
                </div>
            </ul>
            <!--SEGUNDA LISTA-->
            <ul>
                <div class="segunda-lista">
                    <li><a href='/views/register.html'>Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                    <li><a href='/views/login.html'>Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href='#'>Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </div>
            </ul>
        </nav>
        <br/> 
        <!--IMG / BUEGER MENU-->            
        <div class="burger-menu">
            <i class="element-i fas fa-bars"></i>
        </div>
        <br/>
    </header>
    
        <!--CONTAINER BOX  BANER-->
        <section class="banner">
            <a href='url banner'></a><img class="imagenbaner" src='images/img-home-banner.jpg'/></a>
        </section>

    <main>
        <!--CONTAINER BOX FIRST BLOCK / LAST VISIT-->
        <section>
        <!--TEXT/ SUBTITLE LAST VISIT-->
         <h3 class="seccion">Basado en tu última visita</h3>
         <div class="contenedor-imagenes">
         <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">
                <a href='url cafetera'><img src='/images/img-cafetera-moulinex.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <div>
                        <p class= "descrip"><strong>Cafetera Moulinex</strong></p>
                    </div>
                </div>
            </article>
            <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">
                <a href='url MacBook'><img src='/images/img-macbook-pro-2019.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">         
                <a href='url Samsung Galaxy'><img src='/images/img-samsung-galaxy-s10.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>   
            <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">
                <a href='url SmartTv'><img src='/images/img-tv-samsung-smart.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
            </div>           
        </section>
        <!--CONTAINER BOX SECOND BLOCK / OFFERS -->
        <section>
        <!--TEXT/ SUBTITLE OFFERS-->
         <h3 class="seccion">Ofertas</h3>
         <div class="contenedor-imagenes">
         <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">
                <a href='url cafetera'><img src='/images/img-cafetera-moulinex.jpg'/></a>
                <div class= "contenedor-enprincipal">
                    <!--IMG/ TRUCK DELIVERY-->
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">
                <a href='url MacBook'><img src='/images/img-macbook-pro-2019.jpg'/></a>
                <div class= "contenedor-enprincipal">
                <!--IMG/ TRUCK DELIVERY-->
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">          
                <a href='url Samsung Galaxy'><img src='/images/img-samsung-galaxy-s10.jpg'/></a>
                <div class= "contenedor-enprincipal">
                <!--IMG/ TRUCK DELIVERY-->
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>   
            <!--INDIVIDUAL CONTAINER BOX ARTICLE-->
            <article class="productos-lv">
                <a href='url SmartTv'><img src='/images/img-tv-samsung-smart.jpg'/></a>
                <div class= "contenedor-enprincipal">
                <!--IMG/ TRUCK DELIVERY-->
                    <div class= "circulo-camionsito">
                        <i class= "camionsito fas fa-truck"></i>
                    </div>
                    <div class="valor-desc">
                        <p class= "precios-text">$6.770</p>
                        <p class= "descu">40% off</p>
                    </div>
                    <p class= "descrip"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
            </div>          
        </section>
    </main>

    <footer>
        <div class=pie-grande>
        <section class="piedepagina">
            <i class="imgfooter fas fa-credit-card"></i>
            <h3 class= "footersubt">Pagá con tarjeta o efectivo</h3>
            <p class= "footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="piedepagina">
            <i class="imgfooter fas fa-gift"></i>
            <h3 class= "footersubt">Envío gratis desde $ 2.500</h3>
            <p class= "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="piedepagina">
            <i class="imgfooter fas fa-user-shield"></i>
            <h3 class= "footersubt">Seguridad, de principio a fin</h3>
            <p class= "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </div>

        <section class="derechos-r">
        <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>
    </footer>
</body>
</html>