<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles-login.css"/>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<body>

    <header>

        <!--CONTENEDOR LOGO, BUSCAR, LUPA Y TEXT COMPRA EN CUOTAS-->
        <div class="div-hasta-burguer">
        <div class="contenedor-header">
            <div class="caja-logo">
                <img class= "logotypo" src='images/logo-mercado-liebre.svg' alt="logo">
            </div>
            <form action="/search" method="POST" class="form-buscar">
                <div>
                    <div class="caja-buscar-lupa">
                        <div class="buscar-lupa">
                            <input class="buscar" type="text" placeholder="Buscar productos, marcas">
                            <button type="submit" class="img-lupa"><i class="fas fa-search lupa"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
            <div class="compra-en-cuotas">
                <p><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>       
        <!--IMAG / BUEGER MENU-->            
        <div class="burger-menu">
            <i class="element-i fas fa-bars"></i>
        </div>
        <!--LISTAS UL-->
        <nav class="las-dos-listas">
            <ul>
                    <li><a href='#'>Ofertas</a></li>
                    <li><a href='#'>Tiendas Oficiales</a></li>
                    <li><a href='#'>Vender</a></li>
                    <li><a href='#'>Ayuda</a></li>
            </ul>

            <ul>
                    <li><a href='/register'>Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                    <li><a href='/login'>Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href='#'>Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </div>
    
    </header>
    
        <!--CONTENEDOR  BANER-->
        <section class="banner">
            <img class="imag-baner" src='images/img-home-banner.jpg' alt="banner">   
        </section>

    <main>
<!--##########INICIO DEL FORMULARIO##########-->

      <form action="/login" method="GET">
        <h2>LOGIN</h2>
        <div class="usuario-contras">
            <div>
                <input type="text" name="nombreUsuario" placeholder="Nombre de usuari@" required>
            </div>

            <div>
                <input type="password" name="passwordUser" placeholder="Contraseña" maxlength="8" minlength="4"required>
            </div>
        </div>
        <div class="bonton-enviar">
            <button type="submit" a href="/home">Enviar</button>
        </div>

      </form>  
    </main>


    <footer>
        <!--CONTENEDOR FOOTER MENOS DERECHOS-->
        <div class=pie-grande>
            <section class="piedepagina">
                <i class="imgfooter fas fa-credit-card"></i>
                <h3 class= "footersubt">Pagá con tarjeta o efectivo</h3>
                <p class= "footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="piedepagina">
                <i class="imgfooter fas fa-gift"></i>
                <h3 class= "footersubt">Envío gratis desde $ 2.500</h3>
                <p class= "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="piedepagina">
                <i class="imgfooter fas fa-user-shield"></i>
                <h3 class= "footersubt">Seguridad, de principio a fin</h3>
                <p class= "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>

        <section class="derechos-r">
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>
    </footer>
</body>
</html>