<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles-register.css"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>

<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-div">
                <div class="div-main-logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
                </div>
                <form action="/search" method="POST" class="main-div-search">
                    <div>
                        <div class="div-search">
                            <div class="div-main-busqueda">
                                <input class="input-busqueda" type="search" name="busqueda" ></input>
                                <button type="submit" class="ilupa"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-text">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en coutas y sin tarjeta de crédito</p>
            </div>
        </div>
        <!--==========================
                MENÚ HAMBURGUESA
        ============================-->    
        <a href="" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>
         <!--==========================
                MENÚ NAVEGACIÓN
        ============================-->
        <nav class="main-navbar">
            <ul> 
                <li> <a href="">Ofertas</a> </li>
                <li> <a href="">Tiendas Oficiales</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>
        
            <ul> 
                <li> <a href="/register">Crea tu cuenta </a>  <i class="fas fa-id-card"></i></li>
                <li> <a href="/login">Ingresá </a>  <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="">Mis compras </a>  <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        
        <br/>
        
    </header>
    
        <!--CONTENEDOR  BANER-->
        <section class="banner">
            <img class="imag-baner" src='images/img-home-banner.jpg' alt="banner">   
        </section>

    
<!---------------------------------SECCION  MAIN------------------------------->
    <main>

        <form action="/register" method="POST" class="formulario">

            <div class="container-global">
                <div class="contenedor-sinBotones">
                    <h3>
                        <p>Registro de usuario</p>
                    </h3>
            <div class="uno-dos">
                <div>
                    <input type="text" name="nombreApellido" placeholder="Nombre y apellido" required>
                </div>
                <div>
                    <input type="text" name="nombreUsuario" placeholder="Nombre de usuari@" required>
                </div>
            </div>
                <p class="fecha-nac">Fecha de nacimiento</p>
            <div class="tres-cuatro">
                <div>
                    <input type="date" name="fechaNacimiento">
                </div>

                <div>
                    <input type="text" name="domicilioUsuario" placeholder="Domicilio">
                </div>
            </div>
            <div class="perfil-usuario">
                <p>Perfil del usuario</p>
                <label>
                    <input type="radio" name="perfilUsuario">Comprar
                </label>
                <label>
                    <input type="radio" name="perfilUsuario">Vender
                </label>
            </div>
            <div class="cat-interes">
                <p>Categorías de interés</p>
                <div class="todos-checkbox">
                    <label>
                        <input type="checkbox" name="catInteres">Electro
                    </label>

                    <label>
                        <input type="checkbox" name="catInteres">Moda
                    </label>

                    <label>
                        <input type="checkbox" name="catInteres">Hogar
                    </label>

                    <label>
                        <input type="checkbox" name="catInteres">Jugetería
                    </label>

                    <label>
                        <input type="checkbox" name="catInteres">Vida sana
                    </label>
                </div>
            </div>

            <div class="foto-usuario">
                <p>Foto de usuario</p>
                    <input type="file" name="foto">
            </div>
            <div class="cinco-seis">
                <div>
                    <input type="password" name="passwordUser" placeholder="Contraseña" maxlength="8" minlength="4" required>
                </div>

                <div>
                    <input type="password" name="passwordUserConfirm" placeholder="Confirmar contraseña" maxlength="8" minlength="4" required>
                </div>
            </div>

           
            </div>
            <div class="ambos-botones">
                <div class="div-boton">
                    <button class="boton" type="submit" a href="/views/home">Enviar</button>
                </div>

                <div class="div-boton">
                    <button class="boton" type="reset">Borrar datos</button>
                </div>
            </div>
            
            </div>
        </form>
    </main>

<!---------------------------------SECCION  FOOTER------------------------------->

<footer>
    <!--CONTENEDOR FOOTER MENOS DERECHOS-->
    <div class=pie-grande>
        <section class="piedepagina">
            <i class="imgfooter fas fa-credit-card"></i>
            <h3 class= "footersubt">Pagá con tarjeta o efectivo</h3>
            <p class= "footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="piedepagina">
            <i class="imgfooter fas fa-gift"></i>
            <h3 class= "footersubt">Envío gratis desde $ 2.500</h3>
            <p class= "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="piedepagina">
            <i class="imgfooter fas fa-user-shield"></i>
            <h3 class= "footersubt">Seguridad, de principio a fin</h3>
            <p class= "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </div>

    <section class="derechos-r">
        <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </section>
</footer>
</body>
</html>