<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles2.css"/>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <!--COMPANY NAME-->
        <img class= "logotype" src='images/logo-mercado-liebre.svg' alt="logo">
        <!--BOX SEARCH FORM-->
        <input class= "search-engine" type= "search" name= "busqueda" placeholder= "Buscar producto, marca"></input-type>
        <!--IMAGE / MAGNIFYING GLASS-->
        <i class="fas fa-search lupa"></i>
        <br/>
        <br/>
        <!--TEXT / BUY AND IMG/ HOLDING USD-->
        <div class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <!--U-LIST OFFERS AND MORE-->
            <ul>
                <div class="text-first-ulist">
                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>
                </div>
            </ul>
            <!--U-LIST CREATE ACCOUNT AND MORE-->
            <ul>
                <li><a href='#'>Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href='#'>Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href='#'>Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav> 
        <!--IMG / BUEGER MENU-->
        <div class="burger-menu"><i class="element-i fas fa-bars"></i></div>
    </header>
    <main>

        <h3>
            <p>Registro de usuario</p>
        </h3>
        <form action="/register" method="POST">
            <div>
                <label>Nombre y apellido</label>
                <input type="text" name="nombreCompleto">
            </div>

            <div>
                <label>Nombre de usuari@</label>
                <input type="text" name="nombreDeUsuario">
            </div>

            <div>
                <label>Fecha de nacimiento</label>
                <input type="text" name="fechaNacimiento">
            </div>

            <div>
                <label>Domicilio</label>
                <input type="text" name="domicilio">
            </div>

            <div>
                <p>Perfil del usuario</p>
                <label>
                    <input type="radio" name="perfilUsuario">Comprar
                </label>
                <label>
                    <input type="radio" name="perfilUsuario">Vender
                </label>
            </div>
            <div>
                <p>Cateegorías de interés</p>
                <label>
                    <input type="checkbox" name="catInteres">Electro
                </label>

                <label>
                    <input type="checkbox" name="catInteres">Moda
                </label>

                <label>
                    <input type="checkbox" name="catInteres">Hogar
                </label>

                <label>
                    <input type="checkbox" name="catInteres">Jugetería
                </label>

                <label>
                    <input type="checkbox" name="catInteres">Vida sana
                </label>
            </div>

            <div>
                <label>Foto de usuario</label>
                    <input type="file" name="foto">
            </div>

            <div>
                <label>Contraseña</label>
                <input type="password" name="passwordUser" maxlength="8" minlength="4">
            </div>

            <div>
                <label>Confirmar contraseña</label>
                <input type="password" name="passwordUserConfirm" maxlength="8" minlength="4">
            </div>

            <div>

                <button type="submit" a href="/views/home.html">Enviar</button>
            </div>

            <div>
                <button type="reset">Borrar datos</button>
            </div>   

        </form>
    </main>


    <footer>
        <div>
        <section class="piedepagina">
            <i class="imgfooter fas fa-credit-card"></i>
            <h3 class= "footersubt">Pagá con tarjeta o efectivo</h3>
            <p class= "footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="piedepagina">
            <i class="imgfooter fas fa-gift"></i>
            <h3 class= "footersubt">Envío gratis desde $ 2.500</h3>
            <p class= "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="piedepagina">
            <i class="imgfooter fas fa-user-shield"></i>
            <h3 class= "footersubt">Seguridad, de principio a fin</h3>
            <p class= "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </div>

        <section class="derechos-r">
        <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>
    </footer>
</body>
</html>