* {
    margin: 0 px ;
    padding: 0 px ;
    box-sizing: border-box ;
    }

header{
    background-color: #EAC926;
    padding: 20px;
}
/*CUERPO PRINCIPAL DE LA PAGINA*/
body{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    margin:0;
    background-color: #ebebeb;
}
/*CONTENEDOR LOGOTIPO*/
.caja-logo{
    width: 50%;
}
/*IMAGEN DEL LOGOTIPO*/
.logotypo{
    width: 100%;
}
/*CONTENEDOR LOGO, BUSCAR, LUPA Y TEXT COMPRA EN CUOTAS*/
.contenedor-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
/*CONTENEDOR BUSCAR Y LUPA*/
.caja-buscar-lupa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*CONTENEDOR DE TODO EL FORMULARIO BUSCAR*/
.form-buscar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    width: 50%;  
}
/*FORMULARIO BUSCAR*/
.buscar{
    border-radius: 2px 0px 0px 2px;
    border: none;
}
/*INPUT DEL FORMULARIO BUSCAR*/
.buscar-lupa input{
    width: 70%;
    height: 20px;
}
/*BOTON LUPA DEL FORMULARIO BUSCAR*/
.buscar-lupa button{
    width: 30px;
    height: 20px;
}
/*CONTENEDOR FORMULARIO BUSCAR E IMG LUPA*/
.buscar-lupa{/*okok*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*CONTENEDOR IMAGEN DE LUPA AL LADO DEL FORMULARIO BUSCAR*/
.img-lupa{/*okok*/
    border-radius: 0px 2px 2px 0px;
    border: none;
    background: #ffffff;
    cursor: pointer;
}
/*TEXTO COMPRA EN CUOTAS*/ 
.compra-en-cuotas{
    text-align: center;
    margin-left: auto;
    margin-right: auto ;
    font-weight: 500;
    font-size: 15px;
    width: 90%;
}
/*
.compra-en-cuotas p{
    width: 90%;
    margin-left: 12px;
}
*/
/*MENU HAMBURGUESA*/
.burger-menu{
    text-align: center;
    background-color:#1259c3;
    color: #ebebeb;
    margin: auto;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 2mm;
    display: block;
    font-size: 18px;   
}
/* TEXTO LISTAS QUITA COLOR AZUL VINCULO*/
header nav ul li a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
/*TEXTO LISTAS QUITA SUBRAYADO*/
header nav ul{
    list-style-type: none;
}
/*CAJA CONTENEDORA BANER*/
.las-dos-listas{
    display: none;
}
/*BANER*/
.banner{
    display: flex;
    flex-direction: column;
}
/*IMAGEN BANER*/
.imagen-banner{
    max-width: auto;
    height: 500px;
}

/*################################# SECCION MAIN #################################*/
main{
    width: 90%;
    margin: 0 auto;
}
/*H3 TEXTO ULTIMA VISITA Y OFERTAS*/
.titulo-ofertas{
    width: 95%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*H3 TITULOS DE CATEGORIAS PRODUCTOS*/
.seccion{
    font-size: 24px;
    color: #666;
}
/*CAJA CONTENEDORA PRODUCTOS ULTIMA VISITA Y OFERYAS, CADA PRODUCTO CONTIENE ESTA CAJA*/
.productos-lv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: white;
}
/*CADA UNA DE LAS IMAGENES DE ARTICULOS ULTIMA VISITA Y OFERTAS*/
article img{
    width: 100vw;
    max-width: 100%;
}
/*P TEXTO PRECIOS*/
.precios-text{
    font-size:18px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30%;
}
/*P TEXTO DESCUENTOS*/
.descu{
    font-size: 16px;
    margin-top: 0px;
    color: #39b54a;
    width: 70%;
}
/*P TEXTO DESCRIPCION, TIPO DE PRODUCTO MARCA Y MODELO*/
.descrip{
    font-size: 16px;
    font-weight: normal;
    color:#666;
    margin-top: 20px;
    display:contents; 
}
/*PRECIO DE CADA PRODUCTO*/
.valor-desc{
    display: flex;
    flex-direction: row;
}
/*CAJA CONTENEDORA DEL CAMION DE REPARTO*/
.contenedor-enprincipal{
    position: relative;
    border-top: 1px solid #ebebeb;
    padding: 15px; 
}
/*IMAGEN CAMIONSITO DE REPARTO*/
.camionsito{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
/*CIRCULO CAMIONSITO*/
div .camionsito{
    background-color:white;
    border: solid 1px green;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

/*################################# SECCION PIE DE PAGINA ##############################*/
footer{
    background-color: white;
    text-align: center;
    color: #666;
}
/*CONTENEDOR I H3 Y P*/
.piedepagina{
    margin:0 30px;
}
/*IMAGEN TARJETA*/
.imgfooter{
    color: #1259c3;
    font-size: 2em;
    margin-top: 20px;
}
/*TODOS LOS H3 DEL FOOTER*/
.footersubt{
    margin-bottom: 0;
    margin-top: 10px;
}
/*TODOS LOS P DEL FOOTER*/
.footer-p{
    margin-top: 2px;
    margin-bottom: 50px;
}
/*TEXT DERECHOS*/
.derechos-r{
    text-align: left;
    margin-left: 10px;
    padding-bottom: 5px;
}

/*#####################################################*/

/*                 SECCION ANIMACIONES                 */

/*######################################################*/

.productos-lv:hover{
    box-shadow : 0px 0px 10px rgb(100, 100 , 100 );
}

.camionsito {
    transform: rotate(0deg);
}

.camionsito:hover{
    transform: rotate(-90deg);
}

.camionsito{
    transition: transform 0.5s;
} 









/*################################################################################*/

/*                              SECCION MEDIA QUERIES                               */

/*#################################################################################*/


                        /*PARA TABLET*/

@media (min-width: 481px){

/*############################## SECCION ENCABEZADO ###########################*/

    header{
        height: 200px;
    }
    /*CONTENEDOR LOGOTIPO*/
    .caja-logo{
        width: 30%;
    }
    /*IMAGEN DEL LOGOTIPO*/
    .logotypo{
        width: 100%;
    }
    /*CONTENEDOR LOGO, BUSCAR Y TEXTO COMPRAR EN CUOTAS*/
    .div-hasta-burger{
        display: flex;
        flex-wrap: wrap;
    }
    .caja-buscar-lupa{
        width: 90%;
    }
    /*CONTENEDOR DE TODO EL FORMULARIO BUSCAR*/
    .form-buscar{
        width: 30%;

    }
    /*TEXTO COMPRA EN CUOTAS*/
    .compra-en-cuotas{
        width: 40%;
    }
    p{
        width: 100%;
    }
    /*CONTENEDOR FORMULARIO BUSCAR E IMG LUPA*/
    .buscar-lupa{/*ok*/
        width: 100%;
        height: 30px;
    }
    /*INPUT DEL FORMULARIO BUSCAR*/
    .buscar-lupa input{/*ok*/
        width: 100%;
        height: 30px;
    }
    /*BOTON DEL FORMULARIO BUSCAR*/
    .buscar-lupa button{/*ok*/
        height: 30px;
        margin-right: 0;
    }
    /*TEXTO COMPRA EN CUOTAS*/
    .compra-en-cuotas p{
        display: flex;
        align-items: center;
    
    }
   /*CAJA CONTENEDORA BANER*/
    .las-dos-listas{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    /*UL DE CAJA CONTENEDORA BANER*/
    .las-dos-listas ul{
        display: flex;
        justify-content: space-between;
      
    }
    /* LI DE CAJA CONTENEDORA BANER*/
    .las-dos-listas ul li{
        margin: 0 3px;
    }
    /* A DE CAJA CONTENEDORA BANER*/
    .las-dos-listas ul li a{
        font-size: 14px;
    }
    /*MENU HAMBURGUESA*/
    .burger-menu{
        display: none;
    }
/*############################# SECCION CUERPO DE PAGINA ############################*/

    /*CAJA CONTENEDORA PRODUCTOS ULTIMA VISITA Y OFERYAS, CADA PRODUCTO CONTIENE ESTA CAJA*/
    .productos-lv{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    /*CONTENEDOR DEL GRUPO DE ARTICULOS/SON DOS Y CADA UNO TOMA 4 PRODUCTOS*/ 
    .contenedor-imagenes{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
}  
    /*CONTENEDOR PRODUCTOS ULTIMA VISITA Y OFERYAS, CADA PRODUCTO CONTIENE ESTA CAJA*/
    .productos-lv{
        width: 45%;
}
    /*P TEXTO PRECIOS Y DESCUENTOS*/
    .precios-text,
    .descu{
        width: 50%;
    }
    /*P TEXTO DESCRIPCION, TIPO DE PRODUCTO MARCA Y MODELO*/
    main section article.descrip{
        display: block;
    }


/*################################### SECCION FOOTER ################################*/

    /*CONTENEDOR DE TODO EL FOOTER MENOS TEXTO DERECHOS*/
    footer .pie-grande{
        margin-top: 70px;
    }

    /*aca termina 426*/ 
    }
                            /*PARA PC*/

@media (min-width: 769px){

/*############################## SECCION ENCABEZADO ###########################*/

    /*IMAGEN DEL LOGOTIPO*/
    .logotypo{
        width: 79%;
    }
    /*CONTENEDOR LOGO, BUSCAR Y TEXTO COMPRAR EN CUOTAS*/
    .div-hasta-burger{
        display: flex;
        flex-wrap: wrap;
    }
    .caja-buscar-lupa{
        width: 75%;
    }
    /*CONTENEDOR DE TODO EL FORMULARIO BUSCAR*/
    .form-buscar{
        width: 30%;

    }
    /*CONTENEDOR TEXTO COMPRA EN CUOTAS*/
    .compra-en-cuotas{
        width: 40%;
    }
    /*TEXTO COMPRA EN CUOTAS*/
    p{
        width: 100%;
        padding-left: 25px;
}


/*############################# SECCION CUERPO DE PAGINA ############################*/

    /*DESCRIPCION DE CADA PRODUCTO*/
    .productos-lv:hover .descrip{
        position:absolute;
        z-index: 1;
        bottom: 40px;
        opacity: 0;
        transition: 0.5s opacity;
    }
    /*CONTENEDOR PRODUCTOS ULTIMA VISITA Y OFERYAS, CADA PRODUCTO CONTIENE ESTA CAJA*/
    .productos-lv:hover{
        max-height: 91px;
    }
    /*DESCRIPCION DE CADA PRODUCTO*/
    .descrip{
        display: contents;
    }
    /*CONTENEDOR PRODUCTOS ULTIMA VISITA Y OFERYAS, CADA PRODUCTO CONTIENE ESTA CAJA*/
    .productos-lv{
        width: 23%;
    }
    
/*################################### SECCION FOOTER ################################*/

    /*CONTENEDOR DE TODO EL FOOTER MENOS TEXTO DERECHOS*/
    footer .pie-grande{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;
    }


 /*aca termina 769*/   
}

